{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="about__main">
        <div class="about__content-top">
            <h1 class="h1">О компании</h1>
        </div>
        <div class="about__content">
            <div class="about__content-up">
                <h2 class="h2">Сантехника оптом от компании «САНТЕХКОМ»</h2>
                <p class="about__content-p-1">Компания "САНТЕХКОМ" основана в 2007 году и является оптовой организацией
                    по продаже инженерной сантехнической продукции для строительно-монтажных компаний, промышленных
                    предприятий, жилищно-коммунальных хозяйств и магазинов Уральского федерального округа. Надежные
                    партнерские отношения с предприятиями-производителями позволяют поддерживать минимальный уровень
                    цен, а также постоянное наличие продукции на складе. Мы предлагаем широкий спектр продукции
                    различных брендов и производителей: Галлоп, Цветлит, Dendor, Danfoss, IMI, ALSO, LD Pride, Goetze
                    Armaturen, Honeywell, Altstream, Grundfoss, Wilo, Espa,TEBO, Berke Plastik, AquaPlast, Evolution,
                    Radena, Cersanit, Santek, Ани-Пласт, Изодом.</p>
                <p class="about__content-p-2">Один из главных принципов нашей работы – стремление к долгосрочному и
                    взаимовыгодному сотрудничеству. Именно благодаря постоянным партнерам мы добились успеха сегодня и
                    рассчитываем развить его завтра.</p>
                <p class="about__content-p-3">Мы стремимся найти индивидуальный подход и эффективную схему
                    сотрудничества для каждого покупателя.</p>
                <p class="about__content-p-4">Мы предлагаем Вам наличие широкого ассортимента продукции со склада в
                    Екатеринбурге, низкий уровень цен, гибкие условия оплаты, удобные варианты доставки.</p>
            </div>
        </div>
    </div>
{% endblock content %}