{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="contact__main">
        <div class="contact__content-top">
            <h1 class="h1">Контакты</h1>
        </div>
        <div class="contact__content">
            <div class="contact__content-l">
                <ul class="contact__content-list">
                    <li><h3 class="h3">Адрес</h3></li>
                    <li><p class="contact__content-p">г. Екатеринбург ул. Старых Большевиков, д. 2А корп.3</p></li>
                    <li><h3 class="h3">Телефон</h3></li>
                    <li><p class="contact__content-p">+7 343 389-00-09</p></li>
                    <li><h3 class="h3">Email</h3></li>
                    <li><p class="contact__content-p">snabrr@snabrr.ru</p></li>
                    <li><h3 class="h3">Время работы Офиса</h3></li>
                    <li><p class="contact__content-p">Пн. – Пт.: с 9:00 до 18:00</p></li>
                    <li><h3 class="h3">Адрес склада</h3></li>
                    <li><p class="contact__content-p">г. Екатеринбург ул. Бабушкина д.5 А</p></li>
                    <li><h3 class="h3">Время работы Склада</h3></li>
                    <li><p class="contact__content-p">Пн. – Пт.: с 9:00 до 18:00</p></li>
                </ul>
            </div>
            <div class="contact__content-r">
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/santekhkom/47748422172/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Сантехком</a><a href="https://yandex.ru/maps/54/yekaterinburg/category/water_supply_heating_and_sewage_systems/184107487/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Системы водоснабжения и канализации в Екатеринбурге</a><a href="https://yandex.ru/maps/54/yekaterinburg/category/hardware_store/184107711/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Магазин сантехники в Екатеринбурге</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUZJ-Ha1A" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
        </div>
    </div>
{% endblock content %}