{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="profile__main">
        <div class="profile__content-top">
            <h1 class="h1">Личный кабинет</h1>
        </div>
        <div class="profile__content">
            <div class="profile__content-wrapper">
                <div class="profile__content-img">
                    <img class="profile__content-img-img" src="{{ user.profile.avatar.url }}" alt=""></div>
                <div class="profile__content-username"><h2 class="h2">{{ user.username }}</h2></div>
            </div>
        </div>
        <div class="profile__content-bot">
            <div class="profile__content-wrapper">
                <form method="post" enctype="multipart/form-data" class="profile__form">
                    {% csrf_token %}
                    <div class="profile__form-wrapper">
                        <div class="profile__form-item">
                            <h2 class="h2">Измените свой пароль</h2>
                        </div>
                        <div class="profile__form-change">
                            <div class="profile__form_change-old">
                                <label class="profile__change-pswd-old" for="id_old_password">Старый пароль</label>
                                <input type="password" name="old_password" autocomplete="new-password"
                                       class="profile__change-pswd-input" required id="id_old_password"
                                       placeholder="Введите старый пароль"/>
                            </div>
                            <div class="profile__form_change-new">
                                <label class="profile__change-pswd-new" for="id_new_password1">Новый пароль</label>
                                <input type="password" name="new_password1" autocomplete="new-password"
                                       class="profile__change-pswd-input" required id="id_new_password1"
                                       placeholder="Введите новый пароль"/>
                            </div>
                            <div class="profile__form_change-new-conf">
                                <label class="profile__change-pswd-conf" for="id_new_password2">Подтверждение нового пароля</label>
                                <input type="password" name="new_password2" autocomplete="new-password"
                                       required id="id_new_password2" class="profile__change-pswd-input"
                                       placeholder="Подтвердите новый пароль"/>
                            </div>
                        </div>
                        <div class="profile__form-btn">
                            <button type="submit" class="profile__form-btn-save">Обновить пароль</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}